@import "tailwindcss";

@theme {
  --font-mono: 'JetBrains Mono', monospace;

  --color-industrial-900: #0f172a;
  --color-industrial-800: #1e293b;
  --color-industrial-700: #334155;
  --color-industrial-orange: #f97316;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}